Repository markaj-nordic/connectedhomeip, pull requests merged in 2022-07, with the labels that each got.

#45 Added WiFi MAC address getter for Zephyr platform
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/ConfigurationManagerImpl.h
  src/platform/Zephyr/WiFiManager.cpp
  src/platform/Zephyr/WiFiManager.h
Labels: platform, zephyr

#44 Build Matter with IPv6 only
  config/nrfconnect/.nrfconnect-recommended-revision
  config/nrfconnect/chip-module/Kconfig.features
Labels: config

#47 Support IPv6 multicast + adapt UDP endpoint implementation
  src/inet/InetConfig.h
  src/inet/UDPEndPointImplSockets.cpp
  src/platform/Zephyr/WiFiManager.cpp
  src/platform/Zephyr/WiFiManager.h
Labels: platform, zephyr, inet

#51 Store SSID & password in non-volatile storage
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/NrfWiFiDriver.h
Labels: platform, nrf connect

#52 [nrfconnect] WiFi connectivity manager implementation
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/WiFiManager.cpp
  src/platform/Zephyr/WiFiManager.h
  src/platform/nrfconnect/ConnectivityManagerImpl.cpp
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.h
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/NrfWiFiDriver.h
Labels: platform, nrf connect, zephyr
